@import "../styles/variables.scss";

.platform-button {
  max-width: 440px;
  padding: 0 0.9375rem;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: none;
  position: relative;
  cursor: pointer;
  max-height: 3rem;
  // background-color: #f0bc44;
  box-shadow: none;
  transition: box-shadow 0.5s ease-in-out;
}

.yellow-button {
  background-color: $platform-yellow;
}

.green-button {
  background-color: $platform-green;
}

.red-button {
  background-color: $platform-red;
}

.black-button {
  background-color: $platform-black;
}

.white-button {
  background-color: $platform-white;
}

.violet-button {
  background-color: $platform-violet;
}

.peach-button {
  background-color: $platform-peach;
}

.transparent-button {
  background-color: transparent;
}

.platform-button-text {
  margin: 0.625rem 0.625rem; // pixel perfect
  color: $platform-black;
  font-weight: bold;
  font-size: 18px;
  &-alt {
    @extend .platform-button-text;
    color: $platform-white;
  }
}

.yellow-text {
  color: $platform-yellow;
}

.green-text {
  color: $platform-green;
}

.blue-text {
  color: $platform-blue;
}

.black-text {
  color: $platform-black;
}

.violet-text {
  color: $platform-violet;
}

.white-text {
  color: $platform-white;
}

.peach-text {
  color: $platform-peach;
}

.transparent-text {
  color: $platform-main-background-color;
}

.platform-button:hover {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: -0.25rem 0.25rem 0 0 rgba(32, 32, 32, 1);
}

.shadow {
  position: absolute;
  height: 0.3125rem;
  width: 100%;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  &-black {
    @extend .shadow;
    background-color: $platform-black;
  }
  &-green {
    @extend .shadow;
    background-color: $platform-black;
  }
  &-violet {
    @extend .shadow;
    background-color: $platform-black;
  }
  &-none {
    @extend .shadow;
    opacity: 0;
  }
}

.img {
  height: 1.25rem;
  width: 1.25rem;
}
