@import "../styles/variables";

.block {
  position: relative;
  width: 100%;
  max-width: 440px;
}

.border {
  position: absolute;
  width: 0.125rem;
  height: 1rem;
  background-color: $platform-black;
  bottom: 0;
  z-index: 0;
  &:last-child {
    right: 0;
  }
}

.input {
  padding: 0.625rem 0.875rem;
  padding-top: 0.9375rem;
  position: relative;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid $platform-black;
  &:focus ~ label,
  &:valid ~ label {
    left: 0.875rem;
    top: -0.0625rem;
    font-size: 0.75rem;
    color: $input-grey;
  }
  &:hover ~ label {
    left: 0.875rem;
  }
}

.label {
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  pointer-events: none;
  color: $platform-main-text-color;
  left: 0.5625rem;
  top: 1.0625rem;
  transition: 0.2s all;
}