.block {
  display: flex;
  justify-content: space-between;
}

.left {
  margin-right: 1rem;
  margin-top: 2rem;
  margin-top: 1.5rem;
}

.right {
  max-width: 60.4375rem;
  width: 815px;
}

.button {
  margin-top: 2.5rem;
  margin-left: 11rem;
}
