@import "../styles/variables.scss";

.card {
  @media (min-width: $m-screen) {
    display: flex;
    justify-content: space-between;
  }
  border-top: 2px solid $platform-main-line-color;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  margin-bottom: 20px;
}

.instructor-photo-wrapper {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.instructor-photo {
  object-fit: contain;
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 1.5rem;
  border: 2px solid $platform-main-line-color;
}

.instructor-info {
  position: relative;
  flex: 7;
  display: flex;
  justify-content: space-between;
  @media (max-width: $s-screen) {
    flex-direction: column;
  }
  &:before {
    content: "";
    position: absolute;
    height: 2rem;
    border-right: 2px solid $platform-main-line-color;
    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.instructor-text {
  display: flex;
  flex-direction: column;
  &-wrapper {
    padding-left: 2rem;
    padding-top: 2rem;
  }
}

.instructor-name {
  display: flex;
  align-items: center;
}

.socials-name {
  & > *:not(:last-child) {
    margin-right: 1rem;
  }
  &-mobile {
    display: none;
  }
}

.h5 {
  margin-right: 1rem;
}

.ul {
  margin-top: 0.5rem;
  font-size: 18px;
  margin-bottom: 25px;
}

.instructor-text-wrapper {
  flex: 3;
}

.learn-more-wrapper {
  &:before {
    content: "";
    position: absolute;
    height: 2rem;
    border-right: 2px solid $platform-main-line-color;
    @media (max-width: $m-screen) {
      display: none;
    }
  }
}

.learn-more {
  margin-left: 2rem;
  margin-top: 2rem;
  position: relative;
}
